<div class="recipe-list-title">
    <h2>Our Recipes</h2>
    <button mat-stroked-button
        (click)="onNewRecipe()"
    >
        New Recipe
    </button>
</div>
<hr>
<div class="recipe-item">
    <app-recipe-item  
            *ngFor="let recipeEl of recipes; let i = index"
            [recipe]="recipeEl"
            [index]="i"
        >
    </app-recipe-item>
    <br>
    <div>
        <mat-paginator
        [length]="this.recipes.length"
        [pageSize]="3"
        aria-label="Select page"
        (click)="OnPageChange($event)"
        >
        </mat-paginator>
    </div>
</div>

        