.recipe-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.recipe-card-img {
    object-fit: cover;
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    border: none;
    max-width: 250px;
}