<mat-card class="mat-card">
    <div class="mat-card-menu">
        <mat-card-title>
            {{ recipe.name }}
        </mat-card-title>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <a (click)="onAddToShoppingList()" style="cursor: pointer;" class="recipe-menu-link">Add To Basket</a>
            </button>
            <button mat-menu-item>
                <a (click)="onEdit()" style="cursor: pointer;" class="recipe-menu-link">Edit Recipe</a>
            </button>
            <button mat-menu-item>
                <a (click)="onDeleteRecipe()" style="cursor: pointer;" class="recipe-menu-link">Delete Recipe</a>
            </button>
        </mat-menu>
        
    </div>
    <img 
        mat-card-image
        [src]="recipe.imagePath" 
        alt="{{ recipe.name }}"
    >
    <hr>
    <mat-card-content>
        {{recipe.description}}
    </mat-card-content>
    <mat-card>
        <mat-card-content *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}} - {{ingredient.amount}}
        </mat-card-content>
    </mat-card>
</mat-card>

